body {
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.2vmax;
}

.container{
    position: relative;
    height: 1000px;
    display: flex;
  align-items: center;
  justify-content: center;
}

#contanier-step-count{
    background-color: cadetblue;
    padding: 20px;
}