body {
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
}

h1{ 
  font-size: 3vw;  
}

.wrapper{
display: grid;
grid-template-columns: 70% 30%;
grid-column-gap: 1em;
}

#right-col{
height: 90vh;
}

#right-col > button {
    padding: 10px;
    max-width: 150px;
    margin: 10px
}

#left-col{
height: 90vh;
}

#landing-page-title{
text-align: right;
max-width: 310px;
}